body
{
    background-image: url("kuchnia-grecka2.jpg");
}
table
{
    background-color:white;
}
h1
{
    color: white;

}
a
{
    background-color:white;
    color:black;

}
.dl-horizontal
{
    background-color: white;
}
label
{

    padding: 1%;
    background-color: white;

}
input
{
    padding-bottom: 1%;
    padding-top: 1%;
    width:50%;

}
button {
    border-bottom: 20px;

}
.mb-3

{
    background-color: white;
}

