body
{
    background-image: url("kuchnia-grecka2.jpg");
}
table
{
    background-color:white;
}
h1
{
    color: white;

}
a
{
    background-color:white;
    color:black;

}
.dl-horizontal
{
    background-color: white;
}
label
{


    background-color: white;

}
input
{

    padding-top: 1%;


}

.mb-3

{
    background-color: white;
}

.author
{
    color:green;
    font-style: italic ;
    font-weight: bold;
}
.date
{
    font-style: italic;
}
input
{
    margin:1%;
}
ul
{
    margin: 2%;
}
legend
{
    background-color: white;
}
